/* Font + CSS-Reset*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #F6F8F9;
}

.container {
    width: 1200px;
    margin: 50px auto;
}

/* Header */

header {
    padding: 10px 0 10px 20px;
}

.bg-white {
    background-color: #fff;
}

h1 {
    display: inline-block;
    font-weight: 800;
}

.v-align {
    vertical-align: middle;
}

/* Buttons */
.p-btn {
    padding: 20px 0 10px 50px;
}

.button {
    padding: 7px 12px;
    border-radius: 6px;
    border: 1px solid;
    font-weight: 600;
}

.blue-btn {
    background-color: #47ADF1;
    color: #fff;
}

.white-btn {
    background-color: #fff;
    color: #D6D9DD;
    border-color: #D6D9DD;
}

/* List box */
.p-box {
    padding: 30px 70px;
    line-height: 30px;
}

.py-li {
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
}

.weight-li {
    font-weight: 700;
}

.light-li {
    font-weight: 500;
}